{% extends 'layout.html' %}


{% block content %}
<link href="{{ url_for('static', filename='styles/address.css')}}" rel="stylesheet">

<div class="container-fluid balance m-4 text-center">
    <div class="m-3">
        <h4>Address : {{ hexa_address }}</h4>
    </div>
    <div class="m-3">
        <span class="rounded-6">Balance : {{ balance | fromWeiRounded(2) }} <i class="fab fa-ethereum"></i></span> | 
        <span class="rounded-6">Value : {{ balance | fromWeiRounded(0) * price['ethereum']['usd'] | int }} $</span>
    </div>

</div>
{% endblock %}