{% extends 'layout.html' %}


{% block content %}

<div class="container half">
    <a class="nav-link" aria-current="page" href="/blocks">../block/{{ last_block.number }}</a>
    <div class="shadow-4 rounded-6 overflow-hidden">
        <table class="table table table-borderless table-hover">
            <thead class="text-center">
                <th>
                    <p title="Lenght of the blockchain" class="m-1">Block Height</p>
                </th>
                <th>
                    <p title="Transactions in this block" class="m-1">Transactions</p>
                </th>
                <th>
                    <p title="Block mined at the same time as the current block" class="m-1">Uncle</p>
                </th>
                <th>
                    <p title="Miner who successfully include the block onto the blockchain" class="m-1">Miner</p>
                </th>
                <th>
                    <p title="Represents the minimum gasUsed multiplier required for a tx to be included in a block" class="m-1">baseFeePerGas</p>
                </th>
                <th>
                    <p title="Total gas used in the block" class="m-1">Gas used</p>
                </th>
                <th>
                    <p title="Represents the part of the tx fee that is burnt: baseFeePerGas * gasUsed" class="m-1"><i style="color: rgb(218, 70, 70);" class="fas fa-fire-alt "></i> Burnt fees</p>
                </th>
                <th>
                    <p title="The amount of effort required to mine a new block. The difficulty algorithm may adjust according to time" class="m-1">Difficulty</p>
                </th>
            </thead>
            <tbody class="text-center">
                <td>
                    <div class="d-flex flex-column align-items-center">
                        <a class="mb-0 text-decoration-none" href={{ url_for('block',
                            block_number=last_block.number) }}>{{
                            last_block.number
                            }}</a>
                        <p class="small text-muted mb-0">{{ last_block.timestamp | since }}</p>
                    </div>
                </td>
                <td>
                    <div class="pt-10px">
                        <p>{{ last_block.transactions | length }}</p>
                    </div>
                </td>
                <td>
                    <p class="pt-10px">{{ last_block.uncles | length }}</p>
                </td>
                <td>
                    <div class="pt-10px">
                        <a href={{ url_for('address', hexa_address=last_block.miner) }}>{% if
                            last_block.miner.lower() in
                            miners %}
                            {{ miners[last_block.miner.lower()] }}
                            {% else %}
                            {{ last_block.miner.lower() | cutter }}
                            {% endif %}
                        </a>
                    </div>
                </td>
                <td>
                    <p class="pt-10px">{{ last_block.baseFeePerGas | toGwei }} Gwei</p>
                </td>
                <td>
                    <p class="pt-10px">{{ last_block.gasUsed | comma }}</p>
                </td>
                <td>
                    <p class="pt-10px">{{ last_block.gasUsed  |  burntFees(last_block.baseFeePerGas) }} Ether</p>
                </td>
                <td>
                    <p class="pt-10px">{{ last_block.difficulty | comma }}</p>
                </td>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}