{% extends 'layout.html' %}

{% block content %}
<link href="{{ url_for('static', filename='styles/index.css')}}" rel="stylesheet">


<div class="dataContent m-5 d-flex">

  <div class="container half">
    <div class="shadow-4 rounded-6 bg-dark overflow-hidden">
      <table class="table table-hover text-white table-borderless">
        <thead class="text-center">
          <th>
            <p>Block number</p>
          </th>
          <th>
            <p>Transactions</p>
          </th>
          <th>
            <p>Miner</p>
          </th>
        </thead>
        {% for i in range(last_blocks| length) %}
        <tbody class="text-center">
          <td>
            <div class="d-flex flex-column align-items-center">
              <a class="mb-0 text-decoration-none" href={{ url_for('block', block_number=last_blocks[i].number) }}>{{ last_blocks[i].number
                }}</a>
              <p class="small text-muted mb-0">{{ last_blocks[i].timestamp | since }}</p>
            </div>
          </td>
          <td>
            <div>
              <p>{{ last_blocks[i].transactions | length }}</p>
            </div>
          </td>
          <td>
            <a href={{ url_for('address', hexa_address=last_blocks[i].miner) }}>{% if last_blocks[i].miner.lower() in
              miners %}
              {{ miners[last_blocks[i].miner.lower()] }}
              {% else %}
              {{ last_blocks[i].miner.lower() | cutter }}
              {% endif %}
            </a>
          </td>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="container half">
    <div class="shadow-4 rounded-6 bg-dark overflow-hidden">
      <table class="table table-hover text-white table-borderless">
        <thead class="text-center">
          <th>
            <p>Txn hash</p>
          </th>
          <th>
            <p>From</p>
          </th>
          <th>
            <p>To</p>
          </th>
          <th>
            <p>Amount</p>
          </th>
        </thead>
        {% for i in range(last_txn| length) %}
        <tbody class="text-center">
          <td>
            <div class="d-flex flex-column align-items-center">
              <a class="mb-0" href={{ url_for('transaction', hash=last_txn[i].hash | fromHex) }}>{{ last_txn[i].hash |
                fromHex | cutter }}</a>
              <p class="small text-muted mb-0">{{ last_blocks[0].timestamp | since }}</p>
            </div>
          </td>
          <td title={{ last_txn[i].hash | fromHex }}>
            <a href={{ url_for('address', hexa_address=last_txn[i].from) }}>{{ last_txn[i].from | cutter}}</a>
          </td>
          <td title={{ last_txn[i].hash | fromHex }}>
            <a href={{ url_for('address', hexa_address=last_txn[i].from) }}>{{ last_txn[i].to | cutter}}</a>
          </td>
          <td>{{ last_txn[i].value | fromWei}} Ether</td>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>

</div>
{% endblock %}