{% extends 'layout.html' %}

{% block content %}

<div class="container half">
    <a class="nav-link" aria-current="page" href="/">../transactions</a>
    <div class="shadow-4 rounded-6 overflow-hidden">
        <table class="table">
            <thead class="text-center">
                <th>
                    <p title="A TxHash or transaction hash is a unique 66 characters identifier that is generated whenever a transaction is executed"
                        class="m-1">Txn hash</p>
                </th>
                <th>
                    <p title="The sending party of the transaction" class="m-1">From</p>
                  </th>
                <th>
                    <p title="The receiving party of the transaction" class="m-1">To</p>

                </th>
                <th>
                    <p title="The value being transacted in Ether" class="m-1">Value <i class="fab fa-ethereum"></i></p>
                </th>
                <th>
                    <p title="Cost per unit of gas specified for the transaction in Gwei. The higher the gas price the higher chance of getting in a block" class="m-1">Gas price</p>
                </th>
                <th>
                    <p title="Amount paid to the miner for processing the transaction" class="m-1">Transaction fees</p>
                </th>
            </thead>
            {% for i in range(last_txn| length) %}
            <tbody class="text-center">
                <td>
                    <div class="d-flex flex-column align-items-center">
                        <a class="mb-0 rem08" href={{ url_for('transaction', hash=last_txn[i].hash | fromHex) }}>{{
                            last_txn[i].hash |
                            fromHex | cutter }}</a>
                        <p class="small text-muted mb-0">{{ last_block.timestamp | since }}</p>
                    </div>
                </td>
                <td title={{ last_txn[i].hash | fromHex }}>
                    <div class="pt-10px">
                        <a href={{ url_for('address', hexa_address=last_txn[i].from) }}>{{ last_txn[i].from |
                            cutter}}</a>
                    </div>
                </td>
                <td title={{ last_txn[i].hash | fromHex }}>
                    <div class="pt-10px">
                        <a href={{ url_for('address', hexa_address=last_txn[i].from) }}>{{ last_txn[i].to | cutter}}</a>
                    </div>
                </td>
                <td>
                    <div class="pt-10px">
                        <p>{{ last_txn[i].value | fromWei}} Ether</p>
                    </div>
                </td>
                <td>
                    <div class="pt-10px">
                        <p>{{ last_txn[i].gasPrice | toGwei }} Gwei</p>
                    </div>
                </td>
                <td>
                    <div class="pt-10px">
                        <p>{{ last_txn[i].gasPrice | getTxFees(last_txn[i].hash)}} Ether</p>
                    </div>
                </td>

            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}