{% extends 'layout.html' %}

{% block content %}

<div class="container d-flex flex-column justify-content-center m-5 mb-3">
    <a class="m-2" aria-current="page" onclick="loading();" href="/transactions">../transaction/{{ tx.hash | fromHex }}</a>
    <div class="shadow-4 rounded-6 overflow-hidden m-4 data_container">
        <div class="m-3">

            <div class="d-flex align-items-center container_module">
                <div class="col-md-6 container_title">
                    <p class="m-2 mb-0 info_title"
                        title="A TxHash or transaction hash is a unique 66 characters identifier that is generated whenever a transaction is executed">
                        Transaction hash :</p>
                    <p class="m-2 mt-0 text-muted description fst-italic">A TxHash or transaction hash is a unique 66
                        characters identifier that is generated whenever a transaction is executed</p>
                </div>
                <div class="col-md-3 container_value">
                    <a  onclick="loading();" href={{ url_for('transaction', hash=tx.hash | fromHex) }}>
                        {{ tx.hash | fromHex }}</a>
                </div>
            </div>


            <div class="d-flex align-items-center container_module">
                <div class="col-md-6 container_title">
                    <p class="m-2 mb-0 info_title" title="Time since a block has been mined">Since :</p>
                    <p class="m-2 mt-0 text-muted description fst-italic">Time since a block has been mined</p>
                </div>
                <div class="col-md-3 container_value">
                    <p>{{ txBlock.timestamp | since }}</p>

                </div>
            </div>

            <div class="d-flex align-items-center container_module">
                <div class="col-md-6 container_title">
                    <p class="m-2 mb-0 info_title" title="The sending party of the transaction">From :</p>
                    <p class="m-2 mt-0 text-muted description fst-italic">The sending party of the transaction</p>
                </div>
                <div class="col-md-3 container_value">
                    <a onclick="loading();" href={{ url_for('address', hexa_address=tx.from) }}>{{ tx.from | cutter}}</a>

                </div>
            </div>
            <div class="d-flex align-items-center container_module">
                <div class="col-md-6 container_title">
                    <p class="m-2 mb-0 info_title" title="The receiving party of the transaction">To :</p>
                    <p class="m-2 mt-0 text-muted description fst-italic">The receiving party of the transaction</p>
                </div>
                <div class="col-md-3 container_value">
                    <a onclick="loading();" href={{ url_for('address', hexa_address=tx.from) }}>{{ tx.to | cutter}}</a>

                </div>
            </div>

            <div class="d-flex align-items-center container_module">
                <div class="col-md-6 container_title">
                    <p class="m-2 mb-0 info_title" title="The value being transacted in Ether">Value <i
                            class="fab fa-ethereum"></i></p>
                    <p class="m-2 mt-0 text-muted description fst-italic">The value being transacted in Ether</p>
                </div>
                <div class="col-md-3 container_value">
                    <p>{{ tx.value | fromWeiRounded(2) }} Ether</p>

                </div>
            </div>
            <div class="d-flex align-items-center container_module">
                <div class="col-md-6 container_title">
                    <p class="m-2 mb-0 info_title" title="The exact units of gas that was used for the transaction">Gas
                        used :</p>
                    <p class="m-2 mt-0 text-muted description fst-italic">The exact units of gas that was used for the
                        transaction</p>
                </div>
                <div class="col-md-3 container_value">
                    <p>{{ receipt.gasUsed | comma }} </p>

                </div>
            </div>

            <div class="d-flex align-items-center container_module">
                <div class="col-md-6 container_title">
                    <p class="m-2 mb-0 info_title"
                        title="Cost per unit of gas specified for the transaction in Gwei. The higher the gas price the higher chance of getting in a block">
                        Gas price :</p>
                    <p class="m-2 mt-0 text-muted description fst-italic">Cost per unit of gas specified for the
                        transaction in Gwei. The higher the gas price the higher chance of getting in a block</p>
                </div>
                <div class="col-md-3 container_value">
                    <p>{{ tx.gasPrice / 1000000000 }} Gwei</p>

                </div>
            </div>
            <div class="d-flex align-items-center container_module">
                <div class="col-md-6 container_title">
                    <p class="m-2 mb-0 info_title" title="Amount paid to the miner for processing the transaction">
                        Transactions fees :</p>
                    <p class="m-2 mt-0 text-muted description fst-italic">Amount paid to the miner for processing the
                        transaction</p>
                </div>
                <div class="col-md-3 container_value">
                    <p>{{ tx.gasPrice / 1000000000000000000 * receipt.gasUsed }} Ether</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}