html {
  height: 100%;
}
body {
  min-height: 100%;
}

body .iconMenu {
  position: fixed;
  top: 20px;
  left: 25px;
  background-color:white;
  border-radius: 60px;
}

body .iconMenu img {
  height: 55px;
  width: 55px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.search-bar form input {
  border-right: none;
  border-color: #91b9f2;
  color: #91b9f2;
}

div.search-bar form button {
  background-color: #91b9f2;
}

.half .table {
  margin-bottom: 0px;
  background-color: rgba(236, 240, 241, 0.8);
}

.half thead th p {
  color: #4f4f4f;
}

.pt-10px {
  padding-top: 10px;
}
.rem08 {
  font-size: 0.8rem;
}

/* Footer */




/* Tables */

/* .table-hover tbody tr:hover td {
  background: #91b9f2;
  color: white;
} */

/* Display the loading page full screen */

div#loading {
  width: auto;
  height: 100vh;
  display: none;
  background: url(/static/images/load.jpg) no-repeat center;
  background-color: white;
}

/* Search bar */

.search-bar form {
  height: 50px;
  max-width: 45%;
  margin: auto;
}

.search-bar input {
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-bar button {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Block, transactions template */

.description {
font-size: 0.8rem;
}
.padding_left_ {
  padding-left: 50px;
}
.container_value a{
  color: #4f4f4f;
}
.container_value p{
  height: 100%;
  margin: 0;
}
