html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}



/* --- Body div --- */

#contents {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  color: rgba(30, 66, 121, 0.9);
}


/* -----FONT COLOR-------- */

#contents .container-fluid .row {
  color: rgba(30, 66, 121, 0.9);
}

.link a, link a:hover{
  font-size: 20px;
  color: rgba(30, 66, 121, 0.9);
}

.content_title, .half a .content_title:hover {
  color: rgba(30, 66, 121, 0.9);
}

td p, .half div a,
 .half thead th p{
  color: white;
}
.since, .description, .half .container_value a:hover {
color: rgba(160, 179, 209, 0.7);
}



/* METAMASK button */

.metamask div{
  padding-right: 70px;
  display: flex;
  justify-content: flex-end;
}

.metamask div p{
  height: 15px;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  color: #1e4279;
}


.metamask div button {
  font-size: 0.8rem;
  color: white;
  background-color: rgba(30, 66, 121, 0.9);
}
.metamask div button:hover {
  color: white;
}
.metamask p {
  font-size: 0.7rem;
  color: rgba(30, 66, 121, 0.9);
}



/* ---- Logo ----- */

.wyhLogo {
  width: 420px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: -31px;
}

.wyhLogo, .link, .search-bar {
  position: relative;
  top: -31px;
}



/* ---- Search bar ---- */

div.search-bar form input {
  border-right: none;
  border-color: #1e4279;
  border-width: 2px;
  color: #1e4279;
}
div.search-bar form input::placeholder,
div.search-bar form input:focus,
div.search-bar form input:hover {
  color: #1e4279;
  border-color: #1e4279;
}
div.search-bar form button,
div.search-bar form button:hover {
  background-color: rgba(30, 66, 121, 1);
}
.search-bar form {  /* searchbar-size */
  height: 50px;
  max-width: 45%;
  margin: auto;
}
.search-bar input {  /* searchbar-border */
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search-bar button {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}



/* --- Tables --- */

.half .table {
  margin-bottom: 0px;
  background-color: rgba(30, 66, 121, 0.9);
  border-color: rgba(30, 66, 121, 1);
}
.pt-10px {
  padding-top: 10px;
}
.rem08 {
  font-size: 0.8rem;
}



/* -- Block, transactions template -- */

.description {
  font-size: 0.8rem;
}

.container_value a {
  color: white;
}
s
.container_value p {
  height: 100%;
  margin: 0;
}

.data_container {
  background-color: rgba(30, 66, 121, 0.9);
  color: white;
}



/* -- Table td border -- */

td {
  border: none;
}



/* -- Nav pagination -- */

nav .pagination {
  display: flex;
  justify-content: center;
}

ul .page-item .page-link {
  color: #4f4f4f;
}



/* -- Footer -- */

footer {
  position: relative;
  background-color: rgba(236, 240, 241, 0.8);
  height: 70px;
}

footer .signature {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

footer .logo {
  position: absolute;
  left: 25px;
  bottom: 10px;
}

footer .copyright {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
}

footer .logo a i {
  font-size: 22px;
}

footer p {
  margin: 0px;
}



/* -- Display the loading page full screen -- */

div#loading {
  width: auto;
  height: 100vh;
  display: none;
  background: url(/static/images/load.jpg) no-repeat center;
  background-color: white;
}

.top_info {
  display: flex;
  justify-content: space-around;
}



@media (max-width: 1300px) {
  div.dataContent.m-5 {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .mq_tx {
    padding-top: 80px;
  }
  .wyhLogo {
    width: 380px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .link a {
    font-size: 18px;
  }
  .search-bar form {
    height: 45px;
    max-width: 60%;
    margin: auto;
  }

  .metamask div button {
    font-size: 0.65rem;
    width: 175px;
  }
.metamask div {
    padding-right: 30px;
}

  .metamask div p {
    font-size: 0.8rem;
  }
}



@media (max-width: 700px) {
  div.dataContent.m-5 {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .mq_tx {
    padding-top: 50px;
  }
  .wyhLogo {
    width: 250px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .link a {
    font-size: 15px;
  }
  .search-bar form {
    height: 40px;
    max-width: 80%;
    margin: auto;
  }
  .metamask div{
    padding-right: 0px;
    justify-content: center;
  }
  .metamask div p{
    justify-content: center;
    font-size: 0.7rem;
  }
  
}



